.main {
	display: flex;
	gap: 2px;
	align-items: center;
	height: 30px;
	padding: 2px;
	margin: 0;
	/* Without this Safari renders white text on drag */
	color: currentColor;
	cursor: pointer;
	list-style: none;
	border: 0;
	border-radius: 3px;
}

.idle:hover,
.parentOfInstruction {
	background: rgba(9, 30, 66, 0.06);
}

.dragging {
	opacity: 0.4;
}

.outline {
	outline: 2px solid blue;
}

.indicator {
	opacity: 0.5;
}

.hidden {
	display: none;
}

.dragHandle {
	padding: 2px 4px;
}

.dragHandle:focus-visible,
.dragHandle:hover {
	background: rgba(9, 30, 66, 0.06);
}

.content {
	display: flex;
	align-items: center;
	margin-left: var(--indent-level);
}

.toggleButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.flash {
	animation: flash 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes flash {
	0% {
		background: rgba(0, 0, 255, 0.5);
	}
	100% {
		background: rgba(0, 0, 255, 0);
	}
}
