/*! CSS Used from: Embedded */
.t5.t5{overflow:hidden;}
.t15.t15{color:var(--dark-color);--current-color:var(--dark-color);--current-color-rgb:var(--dark-color-rgb);background-color:rgb(var(--dark-color-rgb) / .15);}
.t16.t16:not([data-nowrap]):not([data-ellipsis]){white-space:inherit;}
.t17.t17{margin:0px;padding:0px;}
.t17.t17:not([data-ellipsis]){width:auto;min-width:initial;max-width:initial;}
.t18.t18:not([data-ellipsis]):not([data-block]){display:inline;}
.t11.t11{text-overflow:ellipsis;white-space:nowrap;}
.t12.t12{margin:0px;padding:0px;width:auto;min-width:initial;max-width:100%;}
.t13.t13{display:inline-block;}
.t14.t14{vertical-align:bottom;}
.t10.t10{display:flex;gap:4px;flex-flow:column;}
.t10.t10[data-vertical]{place-items:stretch;}
.t8.t8{width:200px;min-width:initial;max-width:initial;}
.t9.t9{display:block;}