--font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
--monospace-font: Menlo, Monaco, Consolas, 'Courier New', monospace;
--input-font-size: 14px;
--input-line-height: 20px;
--input-letter-spacing: 0.02em;
--disabled-opacity: .4;
--gap: 8px;
--stroke-width: 1.5;
--outline-width: calc(1rem / 16 * 3);
--border-width: 1px;
--radius: 6px;
--large-radius: calc(6px + 4px);
--card-radius: calc(6px + 4px);
--leaf-sharp-radius: 0px;
--fade-width: 32px;
--min-dialog-size: min(288px, calc(100vw - calc(2 * var(--gap))));
--transition: 80ms;
--disclosure-transition: 120ms;
--tab-transition: 120ms;
--fade-transition: 200ms;
--scrollbar-width: 12px;
--scrollbar-outline-width: 3px;
--scrollbar-radius: 9px;
--scrollbar-thumb-color: rgb(var(--text-color-rgb) / .5);
--scrollbar-thumb-color-rgb: rgb(var(--text-color-rgb) / .5);
--scrollbar-outline-color: var(--clear-color);
--scrollbar-outline-color-rgb: var(--clear-color-rgb);
--scrollbar-bg-color: var(--dark-bg-color);
--scrollbar-bg-color-rgb: var(--dark-bg-color-rgb);
--scrollbar-corner-color: var(--clear-color);
--scrollbar-corner-color-rgb: var(--clear-color-rgb);
--space-xs: 4px;
--space-sm: 6px;
--space-md: 8px;
--space-lg: 12px;
--space-xl: 16px;
--size-xs: 24px;
--size-sm: 28px;
--size-md: 32px;
--size-lg: 40px;
--size-xl: 48px;
--item-shadow: 0 1px 3px rgb(var(--dark-color-rgb) / .15);
--card-shadow: 0 4px 16px var(--shadow-color);
--dialog-shadow: 0 8px 32px rgb(var(--dark-color-rgb) / .15);
--max-content-width: 1440px;
--topbar-height: 48px;
--devmodebar-height: 54px;
--sidebar-width: 200px;
--border-radius-base: 4px;
--text-font-size: 14px;
--text-line-height: 20px;
--text-letter-spacing: 0;
--text-font-weight: 400;
--h1-font-size: 36px;
--h1-line-height: 44px;
--h1-letter-spacing: -0.01em;
--h1-font-weight: 600;
--h1-bold-font-weight: 700;
--h1-icon-size: 40px;
--h2-font-size: 24px;
--h2-line-height: 32px;
--h2-letter-spacing: 0em;
--h2-font-weight: 600;
--h2-bold-font-weight: 700;
--h2-icon-size: 28px;
--h3-font-size: 20px;
--h3-line-height: 28px;
--h3-letter-spacing: 0em;
--h3-font-weight: 600;
--h3-bold-font-weight: 700;
--h3-icon-size: 24px;
--h4-font-size: 18px;
--h4-line-height: 24px;
--h4-letter-spacing: 0;
--h4-font-weight: 600;
--h4-bold-font-weight: 700;
--h4-icon-size: 22px;
--h5-font-size: 16px;
--h5-line-height: 22px;
--h5-letter-spacing: 0;
--h5-font-weight: 600;
--h5-bold-font-weight: 700;
--h5-icon-size: 20px;
--h6-font-size: 14px;
--h6-line-height: 20px;
--h6-letter-spacing: 0.01em;
--h6-font-weight: 600;
--h6-bold-font-weight: 700;
--h6-icon-size: 20px;
--t1-font-size: 18px;
--t1-line-height: 24px;
--t1-letter-spacing: 0;
--t1-font-weight: 400;
--t1-icon-size: 20px;
--t2-font-size: 16px;
--t2-line-height: 22px;
--t2-letter-spacing: 0;
--t2-font-weight: 400;
--t2-icon-size: 20px;
--t2m-font-size: 16px;
--t2m-line-height: 22px;
--t2m-letter-spacing: 0;
--t2m-font-weight: 500;
--t2m-icon-size: 20px;
--t3-font-size: 14px;
--t3-line-height: 20px;
--t3-letter-spacing: 0;
--t3-font-weight: 400;
--t3-icon-size: 18px;
--t3m-font-size: 14px;
--t3m-line-height: 20px;
--t3m-letter-spacing: 0;
--t3m-font-weight: 500;
--t3m-icon-size: 18px;
--t4-font-size: 12px;
--t4-line-height: 18px;
--t4-letter-spacing: 0;
--t4-font-weight: 500;
--t4-icon-size: 16px;
--t4m-font-size: 12px;
--t4m-line-height: 18px;
--t4m-letter-spacing: 0;
--t4m-font-weight: 600;
--t4m-bold-font-weight: 700;
--t4m-icon-size: 16px;
--m1-font-size: 18px;
--m1-line-height: 32px;
--m1-letter-spacing: 0;
--m1-font-weight: 400;
--m1-icon-size: 22px;
--m2-font-size: 16px;
--m2-line-height: 28px;
--m2-letter-spacing: 0;
--m2-font-weight: 400;
--m2-icon-size: 20px;
--m3-font-size: 14px;
--m3-line-height: 24px;
--m3-letter-spacing: 0;
--m3-font-weight: 400;
--m3-icon-size: 20px;
--p1-font-size: 18px;
--p1-line-height: 28px;
--p1-letter-spacing: 0;
--p1-font-weight: 400;
--p1-icon-size: 22px;
--p2-font-size: 16px;
--p2-line-height: 24px;
--p2-letter-spacing: 0;
--p2-font-weight: 400;
--p2-icon-size: 20px;
--p3-font-size: 14px;
--p3-line-height: 22px;
--p3-letter-spacing: 0;
--p3-font-weight: 400;
--p3-icon-size: 18px;
--p4-font-size: 12px;
--p4-line-height: 20px;
--p4-letter-spacing: 0;
--p4-font-weight: 500;
--p4-icon-size: 16px;
--c1-font-size: 14px;
--c1-line-height: 20px;
--c1-letter-spacing: 0;
--c1-font-weight: 600;
--c1-font-bold-weight: 700;
--c1-icon-size: 18px;
--c1-text-transform: uppercase;
--c2-font-size: 12px;
--c2-line-height: 18px;
--c2-letter-spacing: 0.01em;
--c2-font-weight: 600;
--c2-bold-font-weight: 700;
--c2-icon-size: 16px;
--c2-text-transform: uppercase;
--tag-font-size: 12px;
--tag-line-height: 18px;
--tag-letter-spacing: 0.01em;
--tag-font-weight: 600;
--tag-bold-font-weight: 700;
--tag-icon-size: 16px;
--strong-font-size: inherit;
--strong-line-height: inherit;
--strong-letter-spacing: inherit;
--strong-font-weight: var(--bold-font-weight, var(--default-bold-font-weight, 600));
--strong-font-family: inherit;
--strong-font-style: inherit;
--em-font-size: inherit;
--em-line-height: inherit;
--em-letter-spacing: inherit;
--em-font-weight: inherit;
--em-font-family: inherit;
--em-font-style: italic;
--default-font-size: var(--t3-font-size);
--default-line-height: var(--t3-line-height);
--default-letter-spacing: var(--t3-letter-spacing);
--default-font-weight: var(--t3-font-weight);
--default-bold-font-weight: 600;
--default-icon-size: inherit;
--pink-color: rgb(255 100 146);
--pink-color-rgb: 255 100 146;
--pink-02-color: rgb(255 131 168);
--pink-02-color-rgb: 255 131 168;
--purple-color: rgb(113 110 238);
--purple-color-rgb: 113 110 238;
--purple-text-color: rgb(105 103 227);
--purple-text-color-rgb: 105 103 227;
--purple-bg-color: rgb(241 239 250);
--purple-bg-color-rgb: 241 239 250;
--purple-icon-color: rgb(142 134 237);
--purple-icon-color-rgb: 142 134 237;
--purple-01-color: rgb(122 119 255);
--purple-01-color-rgb: 122 119 255;
--purple-02-color: rgb(149 146 255);
--purple-02-color-rgb: 149 146 255;
--purple-03-color: rgb(175 173 255);
--purple-03-color-rgb: 175 173 255;
--purple-04-color: rgb(202 201 255);
--purple-04-color-rgb: 202 201 255;
--focus-color: rgb(172 163 238);
--focus-color-rgb: 172 163 238;
--text-color: rgb(91 92 125);
--text-color-rgb: 91 92 125;
--dark-color: rgb(25 26 46);
--dark-color-rgb: 25 26 46;
--dark-01-color: rgb(25 26 46);
--dark-01-color-rgb: 25 26 46;
--dark-02-color: rgb(69 68 98);
--dark-02-color-rgb: 69 68 98;
--dark-03-color: rgb(115 114 139);
--dark-03-color-rgb: 115 114 139;
--dark-04-color: rgb(161 161 178);
--dark-04-color-rgb: 161 161 178;
--dark-05-color: rgb(213 213 222);
--dark-05-color-rgb: 213 213 222;
--dark-bg-color: rgb(249 249 251);
--dark-bg-color-rgb: 249 249 251;
--light-color: rgb(246 246 248);
--light-color-rgb: 246 246 248;
--white-color: rgb(255 255 255);
--white-color-rgb: 255 255 255;
--black-color: rgb(0 0 0);
--black-color-rgb: 0 0 0;
--danger-color: rgb(227 70 75);
--danger-color-rgb: 227 70 75;
--danger-text-color: rgb(208 57 56);
--danger-text-color-rgb: 208 57 56;
--danger-bg-color: rgb(253 245 244);
--danger-bg-color-rgb: 253 245 244;
--danger-icon-color: rgb(245 101 99);
--danger-icon-color-rgb: 245 101 99;
--success-color: rgb(9 145 88);
--success-color-rgb: 9 145 88;
--success-text-color: rgb(12 135 82);
--success-text-color-rgb: 12 135 82;
--success-icon-color: rgb(40 165 104);
--success-icon-color-rgb: 40 165 104;
--success-bg-color: rgb(238 249 242);
--success-bg-color-rgb: 238 249 242;
--note-color: rgb(158 119 19);
--note-color-rgb: 158 119 19;
--note-text-color: rgb(150 112 8);
--note-text-color-rgb: 150 112 8;
--note-bg-color: rgb(253 245 233);
--note-bg-color-rgb: 253 245 233;
--note-icon-color: rgb(181 140 44);
--note-icon-color-rgb: 181 140 44;
--border-color: rgb(227 227 233);
--border-color-rgb: 227 227 233;
--light-border-color: rgb(227 227 233);
--light-border-color-rgb: 227 227 233;
--placeholder-color: var(--dark-04-color);
--placeholder-color-rgb: var(--dark-04-color-rgb);
--clear-color: transparent;
--border-opaque-color: rgb(227 227 233);
--border-opaque-color-rgb: 227 227 233;
--shadow-color: rgb(var(--dark-color-rgb) / .06);
--shadow-color-rgb: rgb(var(--dark-color-rgb) / .06);
--draft-color: rgb(var(--dark-color-rgb) / .2);
--draft-color-rgb: rgb(var(--dark-color-rgb) / .2);
--minor-color: rgb(var(--dark-color-rgb) / .65);
--minor-color-rgb: rgb(var(--dark-color-rgb) / .65);
--danger-bg-hover-color: rgb(var(--danger-color-rgb) / .1);
--danger-bg-hover-color-rgb: rgb(var(--danger-color-rgb) / .1);
--dark-75-color: rgb(var(--dark-color-rgb) / .75);
--dark-75-color-rgb: rgb(var(--dark-color-rgb) / .75);
--primary-color: var(--purple-color);
--primary-color-rgb: var(--purple-color-rgb);
--pink-8-color: rgb(var(--pink-color-rgb) / .2);
--pink-8-color-rgb: rgb(var(--pink-color-rgb) / .2);
--pink-9-color: rgb(var(--pink-color-rgb) / .1);
--pink-9-color-rgb: rgb(var(--pink-color-rgb) / .1);
--disabled-color: rgb(var(--dark-01-color-rgb) / .25);
--disabled-color-rgb: rgb(var(--dark-01-color-rgb) / .25);
--disabled-text-color: rgb(var(--dark-01-color-rgb) / .25);
--disabled-text-color-rgb: rgb(var(--dark-01-color-rgb) / .25);
--disabled-bg-color: rgb(var(--dark-05-color-rgb) / .2);
--disabled-bg-color-rgb: rgb(var(--dark-05-color-rgb) / .2);
-webkit-font-smoothing: antialiased;
color: var(--dark-02-color);
--current-color: var(--dark-02-color);
--current-color-rgb: var(--dark-02-color-rgb);
--font-size: var(--t3-font-size, var(--default-font-size, inherit));
font-size: var(--t3-font-size, var(--default-font-size, inherit));
--line-height: var(--t3-line-height, var(--default-line-height, inherit));
line-height: var(--t3-line-height, var(--default-line-height, inherit));
--letter-spacing: var(--t3-letter-spacing, var(--default-letter-spacing, inherit));
letter-spacing: var(--t3-letter-spacing, var(--default-letter-spacing, inherit));
--font-weight: var(--t3-font-weight, var(--default-font-weight, inherit));
font-weight: var(--t3-font-weight, var(--default-font-weight, inherit));
--font-style: var(--t3-font-style, var(--default-font-style, inherit));
font-style: var(--t3-font-style, var(--default-font-style, inherit));
--text-transform: var(--t3-text-transform, var(--default-text-transform, inherit));
text-transform: var(--t3-text-transform, var(--default-text-transform, inherit));
--font-family: var(--t3-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
font-family: var(--t3-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
--bold-font-weight: var(--t3-bold-font-weight, var(--default-bold-font-weight, inherit));
--icon-size: var(--t3-icon-size, var(--default-icon-size, inherit));
display: contents;
--pointer: pointer;