{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["tv"],
  "overrides": [],
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 180,
  "proseWrap": "always",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
