/*! CSS Used from: Embedded */
.t5.t5{overflow:hidden;}
.t8.t8{text-overflow:ellipsis;white-space:nowrap;}
.t9.t9{margin:0px;padding:0px;width:auto;min-width:initial;max-width:100%;}
.t10.t10{display:inline-block;}
.t11.t11{vertical-align:bottom;}