:root {
    --retv-txt-color: CanvasText;
    --retv-bg-color: Canvas;
    --retv-row-count: 1;
    --retv-row-height: 2em;
    --retv-indent-width: 2em;
    --retv-node-hover-bg-color: rgba(0, 128, 255, 0.1);
    --retv-node-selected-bg-color: rgb(204, 232, 255);
    --retv-node-selected-txt-color: inherit;
    --retv-node-focus-border-color: rgb(111, 188, 252);
}

@media (prefers-color-scheme: dark) {
    :root {
        --retv-txt-color: #dedede;
        --retv-bg-color: #202020;
        --retv-border-color: #474747;
        --retv-node-selected-bg-color: rgb(4, 57, 94);
        --retv-node-selected-txt-color: inherit;
        --retv-node-focus-border-color: rgb(0, 127, 212);
    }
}

.retv {
    width: 100%;
    height: 100%;
    color: var(--retv-txt-color);
    background-color: var(--retv-bg-color);
    line-height: var(--retv-row-height);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    user-select: none;
}

.retv__body {
    display: grid;
    grid-auto-rows: var(--retv-row-height);
    grid-template-rows: repeat(var(--retv-row-count), var(--retv-row-height));
}

.retv__node {
    position: relative;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
}

.retv__node:focus {
    outline: none;
}

.retv__node:focus::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    outline: 1px solid var(--retv-node-focus-border-color);
    pointer-events: none;
}

.retv__node:hover:not(.retv__node--selected) {
    background-color: var(--retv-node-hover-bg-color);
}

.retv__node--selected {
    background-color: var(--retv-node-selected-bg-color);
}

.retv__node-indent {
    display: flex;
    height: 100%;
}

.retv__node-indent > span {
    flex: 0 0 auto;
    width: var(--retv-indent-width);
}

.retv__node-toggle {
    display: grid;
    place-items: center;
    width: 2em;
    height: 100%;
}

.retv__node-label {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
}