/*! CSS Used from: Embedded */
p,div{margin:0;padding:0;}
p{margin:var(--ds-space-150, 12px) 0 0 0;}
a{color:var(--ds-link, #0052CC);text-decoration:none;}
a:hover{color:var(--ds-link, #0065FF);text-decoration:underline;}
a:active{color:var(--ds-link-pressed, #0747A6);}
p:first-child{margin-top:0;}
button{font-family:inherit;}
/*! CSS Used from: Embedded */
._2rko12b0{border-radius:var(--ds-radius-small,4px);}
._19itglyw{border:none;}
._nd5l19l3{grid-area:interactive;}
._1r04ze3t{inset:var(--ds-space-0,0);}
._zulpv77o{gap:var(--ds-space-025,2px);}
._11c82smr{font:var(--ds-font-body,normal 400 14px/20px ui-sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,"Helvetica Neue",sans-serif);}
._nd5l17zh{grid-area:elem-before;}
._nd5l16dh{grid-area:elem-after;}
._zulp1b66{gap:var(--ds-space-050,4px);}
._2rkofajl{border-radius:var(--ds-radius-small,3px);}
._v5649dqc{transition:background 0.1s ease-out;}
._v564g17y{transition:opacity 0.3s;}
._19itidpf{border:0px;}
._11c81vhk{font:var(--ds-font-heading-xxsmall,normal 600 9pt/1pc ui-sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Ubuntu,"Helvetica Neue",sans-serif);}
/*! CSS Used from: Embedded */
._1h6d1l7x{border-color:var(--ds-border,#0b120e24);}
._189ee4h9{border-width:var(--ds-border-width,1px);}
._1dqonqa1{border-style:solid;}
._yyhyjvu9{grid-column:1 / -1;}
._1ii7kb7n{grid-row:1;}
._189eidpf{border-width:0px;}
._1rjcv77o{padding-block:var(--ds-space-025,2px);}
._18zr12x7{padding-inline:var(--ds-space-075,6px);}
._1rjcu2gc{padding-block:var(--ds-space-100,8px);}
._10m98stt{scroll-margin-inline:750pt;}
/*! CSS Used from: Embedded */
._1e0c116y{display:inline-flex;}
._s7n4nkob{vertical-align:middle;}
._1e0c1txw{display:flex;}
._1bsb1osq{width:100%;}
._1bah1h6o{justify-content:center;}
._2lx2vrvc{flex-direction:row;}
._ca0qpxbi{padding-top:var(--ds-space-200,1pc);}
._u5f3pxbi{padding-right:var(--ds-space-200,1pc);}
._n3tdpxbi{padding-bottom:var(--ds-space-200,1pc);}
._19bvpxbi{padding-left:var(--ds-space-200,1pc);}
._1bsbnklw{width:20pc;}
._bfhkvuon{background-color:var(--ds-surface,#fff);}
._16jlkb7n{flex-grow:1;}
._1o9zkb7n{flex-shrink:1;}
._i0dlf1ug{flex-basis:0%;}
._1reo1wug{overflow-x:auto;}
._18m91wug{overflow-y:auto;}
._1q51utpp{padding-block-start:var(--ds-space-150,9pt);}
._y4tiutpp{padding-inline-end:var(--ds-space-150,9pt);}
._85i5utpp{padding-block-end:var(--ds-space-150,9pt);}
._bozgutpp{padding-inline-start:var(--ds-space-150,9pt);}
._vchhusvi{box-sizing:border-box;}
._1e0c11p5{display:grid;}
._yv0e7dup{grid-template-columns:minmax(0px, auto) 1fr minmax(0px, auto) minmax(0px, auto);}
._2z05hkll{grid-template-rows:1fr;}
._1lmcu4vt{grid-template-areas:"elem-before interactive elem-after actions";}
._1ul9t9kd{min-width:72px;}
._4t3iviql{height:2rem;}
._4cvr1h6o{align-items:center;}
._uiztglyw{user-select:none;}
._syazazsu{color:var(--ds-text-subtle,#505258);}
._1yyu1j28{--notch-color:transparent;}
._91ju1txw{--elem-after-display:flex;}
._uomdidpf{--actions-on-hover-opacity:0;}
._pmxpidpf{--actions-on-hover-width:0;}
._db80idpf{--actions-on-hover-padding:0;}
._uomdkb7n{--actions-on-hover-opacity:1;}
._pmxp1wug{--actions-on-hover-width:auto;}
._db801b66{--actions-on-hover-padding:var(--ds-space-050,4px);}
._kqswh2mm{position:relative;}
._yv0enbh3{grid-template-columns:subgrid;}
._2z05nbh3{grid-template-rows:subgrid;}
._y4ti1b66{padding-inline-end:var(--ds-space-050,4px);}
._bozg1b66{padding-inline-start:var(--ds-space-050,4px);}
._1q511b66{padding-block-start:var(--ds-space-050,4px);}
._85i51b66{padding-block-end:var(--ds-space-050,4px);}
._bfhk1j28{background-color:transparent;}
._y3gnv2br{text-align:start;}
._14iu13ro:active:not(:disabled){background-color:var(--ds-surface-pressed,#dddee1);}
._1cykglyw{--drag-handle-display:none;}
._r06hglyw{appearance:none;}
._80omtlke{cursor:pointer;}
._ymio1r31:focus:not(:focus-visible){outline-color:currentcolor;}
._ypr0glyw:focus:not(:focus-visible){outline-style:none;}
._zcxs1o36:focus:not(:focus-visible){outline-width:medium;}
._2lx21bp4{flex-direction:column;}
._ae4v1h6o{align-content:center;}
._kqswstnw{position:absolute;}
._1reo15vq{overflow-x:hidden;}
._18m915vq{overflow-y:hidden;}
._1ul91c9m{min-width:1ch;}
._bozg12x7{padding-inline-start:var(--ds-space-075,6px);}
._19pkidpf{margin-top:0px;}
._2hwxidpf{margin-right:0px;}
._otyridpf{margin-bottom:0px;}
._18u0idpf{margin-left:0px;}
._1i4qfg65{overflow-wrap:anywhere;}
._y3gn1h6o{text-align:center;}
._1e0ccj1k{display:-webkit-box;}
._sudp1e54{-webkit-box-orient:vertical;}
._1nmz9jpi{word-break:break-all;}
._syaz15cr{color:var(--ds-text-inverse,#fff);}
._syaz1rpy{color:var(--ds-text-subtlest,#6b6e76);}
._k48p1wq8{font-weight:var(--ds-font-weight-medium,500);}
._1o9zidpf{flex-shrink:0;}
._1bsb1tcg{width:24px;}
._4t3i1tcg{height:24px;}
._vchh1ntv{box-sizing:content-box;}
._18ukglyw:not(:has(button, a)){pointer-events:none;}
._1e0c1o8l{display:inline-block;}
._vwz4kb7n{line-height:1;}
._y4ti1igz{padding-inline-end:var(--ds--button--new-icon-padding-end,0);}
._bozg1mb9{padding-inline-start:var(--ds--button--new-icon-padding-start,0);}
._vwz4utpp{line-height:var(--ds-space-150,9pt);}
._syaz1r31{color:currentcolor;}
._lcxvglyw{pointer-events:none;}
._s7n4yfq0{vertical-align:bottom;}
._1bsbutpp{width:var(--ds-space-150,9pt);}
._4t3iutpp{height:var(--ds-space-150,9pt);}
._1bsbpxbi{width:var(--ds-space-200,1pc);}
._4t3ipxbi{height:var(--ds-space-200,1pc);}
._tzy4pnc3{opacity:var(--actions-on-hover-opacity);}
._1bsbty16{width:var(--actions-on-hover-width);}
._y4tidria{padding-inline-end:var(--actions-on-hover-padding);}
._p12f1osq{max-width:100%;}
._4cvr1q9y{align-items:baseline;}
._gy1p1b66{column-gap:var(--ds-space-050,4px);}
._4bfu1r31{text-decoration-color:currentcolor;}
._1hmsglyw{text-decoration-line:none;}
._ajmmnqa1{text-decoration-style:solid;}
._4t3i1k8s{height:1.5rem;}
._y4tize3t{padding-inline-end:var(--ds-space-0,0);}
._bozgze3t{padding-inline-start:var(--ds-space-0,0);}
._1bsb1k8s{width:1.5rem;}
._1e02ze3t{inset-inline-start:var(--ds-space-0,0);}
._bfhkqtfy{background-color:var(--ds-background-neutral-subtle,transparent);}
._o5721q9c{white-space:nowrap;}
._16jlidpf{flex-grow:0;}
._1wpz1h6o{align-self:center;}
._1wybidpf{font-size:0px;}
._vwz4idpf{line-height:0;}
._ca0qidpf{padding-top:0px;}
._u5f3idpf{padding-right:0px;}
._n3tdidpf{padding-bottom:0px;}
._19bvidpf{padding-left:0px;}
._1bsbt94y{width:1px;}
._4t3it94y{height:1px;}
._ogto7mnp{clip:rect(1px, 1px, 1px, 1px);}
._1e0c13yo{display:var(--elem-after-display);}
._1mmiglyw{--expandable-chevron-display:none;}
._165n1bgi{--expandable-provided-elembefore-display:contents;}
._b31z1txw:has(:focus-visible){--expandable-chevron-display:flex;}
._12xsglyw:has(:focus-visible){--expandable-provided-elembefore-display:none;}
._1e0ciw0t{display:var(--expandable-chevron-display);}
._1e0c1xb2{display:var(--expandable-provided-elembefore-display);}
._bozg1crf{padding-inline-start:9pt;}
._1p1d1dk0{text-transform:capitalize;}
._1hms8stv{text-decoration-line:underline;}
._152t1ssb{inset-block-start:50%;}
._1bsbyh40{width:2px;}
._4t3i1crf{height:9pt;}
._t9ec1i34{transform:translateY(-50%);}
._bfhk1o0g{background-color:var(--notch-color);}
._1bsbgktf{width:20px;}
._4t3igktf{height:20px;}
._1e0c1i3c{display:var(--drag-handle-display,none);}
._152tidpf{inset-block-start:0px;}
._u7coidpf{inset-block-end:0px;}
._1e02idpf{inset-inline-start:0px;}
._ahbqxmi2{margin-inline-start:var(--ds-space-negative-150,-9pt);}
/*! CSS Used from: Embedded */
._1053azsu:visited{color:var(--ds-text-subtle,#505258);}
/*! CSS Used from: Embedded */
._1a3b1r31:focus{text-decoration-color:currentcolor;}
._4fprglyw:focus{text-decoration-line:none;}
._5goinqa1:focus{text-decoration-style:solid;}
._f8pjazsu:focus{color:var(--ds-text-subtle,#505258);}
/*! CSS Used from: Embedded */
._irr319i6:hover{background-color:var(--ds-surface-hovered,#f0f1f2);}
._g4kikb7n:hover{--actions-on-hover-opacity:1;}
._ynyi1wug:hover{--actions-on-hover-width:auto;}
._v4o21b66:hover{--actions-on-hover-padding:var(--ds-space-050,4px);}
._x0kw1txw:hover{--drag-handle-display:flex;}
._11om6b4r:hover{animation-name:k1xyysw3;}
._7psyru3m:hover{animation-duration:0s;}
._1uy01amc:hover{animation-delay:0.8s;}
._bir2q7pw:hover{animation-fill-mode:forwards;}
._14mj1kw7::after{border-radius:inherit;}
._9v7aze3t::after{inset:var(--ds-space-0,0);}
._1tv3nqa1::after{border-style:solid;}
._39yqe4h9::after{border-width:var(--ds-border-width,1px);}
._11fnglyw::after{pointer-events:none;}
._18postnw::after{position:absolute;}
._9oik1r31:hover{text-decoration-color:currentcolor;}
._1bnxglyw:hover{text-decoration-line:none;}
._jf4cnqa1:hover{text-decoration-style:solid;}
._30l3azsu:hover{color:var(--ds-text-subtle,#505258);}
._irr34mfv:hover{background-color:var(--ds-background-neutral-subtle-hovered,#091e4214);}
._1vnl1txw:hover{--expandable-chevron-display:flex;}
._p8btglyw:hover{--expandable-provided-elembefore-display:none;}
/*! CSS Used from: Embedded */
._1nrm1r31:active{text-decoration-color:currentcolor;}
._c2waglyw:active{text-decoration-line:none;}
._1iohnqa1:active{text-decoration-style:solid;}
._9h8hazsu:active{color:var(--ds-text-subtle,#505258);}
._1di619qy:active{background-color:var(--ds-background-neutral-subtle-pressed,#b3d4ff);}
/*! CSS Used from: Embedded */
@media screen and (forced-colors: active){
    ._12va1onz{color:canvastext;}
    ._jcxd1r8n{filter:grayscale(1);}
}
/*! CSS Used keyframes */
@keyframes k1xyysw3{100%{cursor:grab;}}