/* Panel.css */
.panel {
    --panel-handle-size: 0.35rem;
    --panel-handle-bg-color: var(--border-muted);
    --panel-handle-resizing-bg-color: var(--border-color);
    overflow: visible;
    bottom: 0;
}

.panelBottom {
    left: 0;
    right: 0;
}

.panelRight,
.panelLeft {
    height: 100%;
    top: 0;
}

.panelLeft {
    left: 0;
}

.panelRight {
    right: 0;
}

.panelFixed {
    position: fixed;
}

.panelRelative {
    position: relative;
    flex: 0 0 auto;
}

.handle {
    position: absolute;
    opacity: 0;
    user-select: none;
    z-index: 1;
    flex-shrink: 0;
}

.handleRight,
.handleLeft {
    width: var(--panel-handle-size);
    cursor: ew-resize;
    top: 0;
    bottom: 0;
}

.handleRight {
    left: calc(-0.5 * var(--panel-handle-size));
}

.handleLeft {
    right: calc(-0.5 * var(--panel-handle-size));
}

.handleBottom {
    height: var(--panel-handle-size);
    top: calc(-0.5 * var(--panel-handle-size));
    cursor: ns-resize;
    left: 0;
    right: 0;
}

.handle:hover {
    opacity: 0.5;
    background-color: var(--border-color);
}

.handleResizing,
.handleResizing:hover {
    opacity: 1;
    background-color: var(--panel-handle-resizing-bg-color);
}