/*! CSS Used from: Embedded */
.t9.t9 {
  color: var(--dark-color);
  --current-color: var(--dark-color);
  --current-color-rgb: var(--dark-color-rgb);
}
.t10.t10[data-level="5"] {
  --font-size: var(--h5-font-size, var(--default-font-size, inherit));
  font-size: var(--h5-font-size, var(--default-font-size, inherit));
  --line-height: var(--h5-line-height, var(--default-line-height, inherit));
  line-height: var(--h5-line-height, var(--default-line-height, inherit));
  --letter-spacing: var(--h5-letter-spacing, var(--default-letter-spacing, inherit));
  letter-spacing: var(--h5-letter-spacing, var(--default-letter-spacing, inherit));
  --font-weight: var(--h5-font-weight, var(--default-font-weight, inherit));
  font-weight: var(--h5-font-weight, var(--default-font-weight, inherit));
  --font-style: var(--h5-font-style, var(--default-font-style, inherit));
  font-style: var(--h5-font-style, var(--default-font-style, inherit));
  --text-transform: var(--h5-text-transform, var(--default-text-transform, inherit));
  text-transform: var(--h5-text-transform, var(--default-text-transform, inherit));
  --font-family:
    var(--h5-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  font-family:
    var(--h5-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  --bold-font-weight: var(--h5-bold-font-weight, var(--default-bold-font-weight, inherit));
  --icon-size: var(--h5-icon-size, var(--default-icon-size, inherit));
}
.t10.t10:not([data-nowrap]):not([data-ellipsis]) {
  white-space: inherit;
}
.t11.t11 {
  margin: 0px;
}
.t11.t11:not([data-ellipsis]) {
  width: auto;
  min-width: initial;
  max-width: initial;
}
.t12.t12 {
  display: block;
}
.t14.t14 {
  grid-area: title;
}
.t23.t23[data-entered] {
  opacity: 1;
}
.t24.t24 {
  display: grid;
  place-items: center;
}
.t25.t25 {
  grid-area: 1 / 1;
}
.t25.t25:not([data-exit])[data-entered] {
  transition:
    color var(--transition) ease-in,
    background-color var(--transition) ease-in,
    box-shadow var(--transition) ease-in,
    border var(--transition) ease-in,
    border-radius var(--transition) ease-in,
    outline var(--transition) ease-in,
    opacity var(--transition) ease-in;
}
.t16.t16:not([data-disabled]):not([data-focused]):not([data-invalid]):not([data-valid]) {
  border: 1px solid var(--border-color);
}
.t16.t16:not([data-disabled]):not([data-hovered]):not([data-pressed]):not([data-selected]) {
  color: var(--dark-02-color);
  --current-color: var(--dark-02-color);
  --current-color-rgb: var(--dark-02-color-rgb);
}
.t16.t16:not([data-disabled]):not([data-hovered]):not([data-pressed]):not([data-selected]) {
  background-color: rgb(var(--dark-color-rgb) / 0);
}
.t16.t16 {
  outline: 0 solid var(--outline-color);
  outline-offset: 1px;
}
.t16.t16[data-shape="button"] {
  border-radius: 6px;
}
.t17.t17:not([data-type="item"]):not([data-type="card"]):not([data-type="header"]):not(
    [data-size="xlarge"]
  )[data-size="medium"] {
  --font-size: var(--t3m-font-size, var(--default-font-size, inherit));
  font-size: var(--t3m-font-size, var(--default-font-size, inherit));
  --line-height: var(--t3m-line-height, var(--default-line-height, inherit));
  line-height: var(--t3m-line-height, var(--default-line-height, inherit));
  --letter-spacing: var(--t3m-letter-spacing, var(--default-letter-spacing, inherit));
  letter-spacing: var(--t3m-letter-spacing, var(--default-letter-spacing, inherit));
  --font-weight: var(--t3m-font-weight, var(--default-font-weight, inherit));
  font-weight: var(--t3m-font-weight, var(--default-font-weight, inherit));
  --font-style: var(--t3m-font-style, var(--default-font-style, inherit));
  font-style: var(--t3m-font-style, var(--default-font-style, inherit));
  --text-transform: var(--t3m-text-transform, var(--default-text-transform, inherit));
  text-transform: var(--t3m-text-transform, var(--default-text-transform, inherit));
  --font-family:
    var(--t3m-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  font-family:
    var(--t3m-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  --bold-font-weight: var(--t3m-bold-font-weight, var(--default-bold-font-weight, inherit));
  --icon-size: var(--t3m-icon-size, var(--default-icon-size, inherit));
}
.t17.t17 {
  text-decoration: none;
}
.t18.t18:not([data-menuitem]):not([data-listboxitem]) {
  flex-shrink: initial;
}
.t18.t18:not([data-size="inline"]) {
  height: auto;
  min-height: var(--size);
  max-height: initial;
}
.t18.t18 {
  margin: 0px;
  width: 500px;
  min-width: initial;
  max-width: initial;
}
.t18.t18:not([data-type="card"]) {
  padding: 0px;
}
.t19.t19 {
  display: inline-grid;
  gap: 0px;
  grid-auto-flow: column dense;
  place-content: stretch;
  place-items: stretch;
}
.t19.t19[data-description="block"] {
  grid-template: "icon prefix label suffix righticon actions" "description description description description description description" / max-content max-content minmax(
      0px,
      1fr
    ) max-content max-content max-content;
}
.t19.t19[data-description="inline"][data-has-label] {
  grid-template: "icon prefix label suffix righticon actions" "icon prefix description suffix righticon actions" / max-content max-content minmax(
      0px,
      1fr
    ) max-content max-content max-content;
}
.t20.t20 {
  position: relative;
  transition:
    color var(--theme-transition, var(--transition)),
    background-color var(--theme-transition, var(--transition)),
    box-shadow var(--theme-transition, var(--transition)),
    border var(--theme-transition, var(--transition)),
    border-radius var(--theme-transition, var(--transition)),
    outline var(--theme-transition, var(--transition)),
    opacity var(--theme-transition, var(--transition));
}
.t21.t21:not([data-size="inline"]):not([data-size="small"]):not([data-size="xsmall"]) {
  --block-padding: 4px;
}
.t21.t21[data-description="block"][data-has-label] {
  --description-padding-bottom: max(var(--block-padding), calc(calc(var(--size) - 32px) / 2) + var(--block-padding));
}
.t21.t21[data-description="inline"][data-has-label]:not([data-description="block"]) {
  --description-padding-bottom: var(--block-padding);
}
.t21.t21[data-description="block"][data-has-start-content] {
  --description-padding-left: calc(var(--inline-padding) - var(--inline-compensation) + 1px);
}
.t21.t21:not([data-description="block"])[data-has-start-content] {
  --description-padding-left: 0;
}
.t21.t21[data-description="block"][data-has-end-content] {
  --description-padding-right: calc(var(--inline-padding) - var(--inline-compensation) + 1px);
}
.t21.t21:not([data-description="block"])[data-has-end-content] {
  --description-padding-right: 0;
}
.t21.t21 {
  --inline-compensation: 4px;
  --inline-padding: max(
    var(--min-inline-padding),
    calc(calc(var(--size) - var(--line-height) - 2px) / 2 + var(--inline-compensation))
  );
  --min-inline-padding: calc(8px - 1px);
  box-sizing: border-box;
  appearance: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.t21.t21[data-description="inline"] {
  --label-padding-bottom: 0;
}
.t21.t21:not([data-description="inline"]) {
  --label-padding-bottom: var(--block-padding);
}
.t21.t21[data-has-start-content] {
  --label-padding-left: 0;
}
.t21.t21[data-has-end-content] {
  --label-padding-right: 0;
}
.t21.t21[data-size="medium"] {
  --size: var(--size-md);
}
.t21.t21:not([data-disabled]):not([data-listboxitem]):not([data-menuitem]):not(:is(a)):not(:is(button)) {
  cursor: inherit;
}
.t22.t22 > [data-element="Actions"] {
  grid-area: actions;
  display: flex;
  gap: 1px;
  place-items: center;
  place-content: end;
  place-self: stretch;
  box-sizing: border-box;
  height: auto;
  min-height: calc(var(--size) - 2px);
  max-height: initial;
  transition:
    max-width var(--transition) ease-out,
    min-width var(--transition) ease-out,
    width var(--transition) ease-out,
    opacity var(--transition) ease-out,
    padding var(--transition) ease-out;
  interpolate-size: allow-keywords;
  --action-size: min(max(calc(16px + 2px), calc(var(--size) - 8px - 2px)), calc(32px - 2px));
  --side-padding: calc(calc(var(--size) - var(--action-size) - 2px) / 2);
}
.t22.t22:not([data-show-actions-on-hover])[data-has-actions-content] > [data-element="Actions"] {
  padding: 0 var(--side-padding);
}
.t22.t22:not([data-show-actions-on-hover])[data-has-actions-content] > [data-element="Actions"] {
  width: auto;
  min-width: initial;
  max-width: calc-size(max-content, size);
}
.t22.t22:not([data-show-actions-on-hover]) > [data-element="Actions"] {
  opacity: 1;
}
.t22.t22 > [data-element="Description"] {
  grid-area: description;
  place-self: center start;
  box-sizing: border-box;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: left;
  padding: 0 var(--description-padding-right) var(--description-padding-bottom) var(--description-padding-left);
}
.t22.t22:not([data-type="card"]):not([data-type="header"]) > [data-element="Description"] {
  --font-size: var(--t4-font-size, var(--default-font-size, inherit));
  font-size: var(--t4-font-size, var(--default-font-size, inherit));
  --line-height: var(--t4-line-height, var(--default-line-height, inherit));
  line-height: var(--t4-line-height, var(--default-line-height, inherit));
  --letter-spacing: var(--t4-letter-spacing, var(--default-letter-spacing, inherit));
  letter-spacing: var(--t4-letter-spacing, var(--default-letter-spacing, inherit));
  --font-weight: var(--t4-font-weight, var(--default-font-weight, inherit));
  font-weight: var(--t4-font-weight, var(--default-font-weight, inherit));
  --font-style: var(--t4-font-style, var(--default-font-style, inherit));
  font-style: var(--t4-font-style, var(--default-font-style, inherit));
  --text-transform: var(--t4-text-transform, var(--default-text-transform, inherit));
  text-transform: var(--t4-text-transform, var(--default-text-transform, inherit));
  --font-family:
    var(--t4-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  font-family:
    var(--t4-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  --bold-font-weight: var(--t4-bold-font-weight, var(--default-bold-font-weight, inherit));
  --icon-size: var(--t4-icon-size, var(--default-icon-size, inherit));
  opacity: 0.75;
  white-space: nowrap;
}
.t22.t22 > [data-element="Icon"] {
  display: grid;
  place-items: center;
  place-content: stretch;
  aspect-ratio: 1 / 1;
  width: calc(var(--size) - 2px);
  min-width: initial;
  max-width: initial;
  grid-area: icon;
}
.t22.t22:not([data-checkbox]) > [data-element="Icon"] {
  opacity: 1;
}
.t22.t22 > [data-element="Label"] {
  margin: 0px;
  grid-area: label;
  display: block;
  place-self: center start;
  box-sizing: border-box;
  place-content: stretch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  min-width: 0px;
  max-width: 100%;
  --font-size: inherit;
  font-size: inherit;
  --line-height: inherit;
  line-height: inherit;
  --letter-spacing: inherit;
  letter-spacing: inherit;
  --font-weight: inherit;
  font-weight: inherit;
  --font-style: inherit;
  font-style: inherit;
  --text-transform: inherit;
  text-transform: inherit;
  --font-family: inherit;
  font-family: inherit;
  --bold-font-weight: inherit;
  --icon-size: inherit;
  padding: var(--block-padding) var(--label-padding-right) var(--label-padding-bottom) var(--label-padding-left);
}
.t22.t22 > [data-element="Prefix"] {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  place-content: stretch;
  grid-area: prefix;
}
.t22.t22[data-has-icon] > [data-element="Prefix"] {
  padding: 0px;
}
.t22.t22 > [data-element="RightIcon"] {
  display: grid;
  place-items: center;
  place-content: stretch;
  aspect-ratio: 1 / 1;
  width: calc(var(--size) - 2px);
  min-width: initial;
  max-width: initial;
  grid-area: righticon;
}
.t22.t22:not([data-checkbox]) > [data-element="RightIcon"] {
  opacity: 1;
}
.t22.t22 > [data-element="Suffix"] {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  place-content: stretch;
  grid-area: suffix;
}
.t22.t22[data-has-right-icon] > [data-element="Suffix"] {
  padding: 0px;
}
.t22.t22:not([data-has-right-icon]) > [data-element="Suffix"] {
  padding: 0 var(--inline-padding) 0 0;
}
.t31.t31:not([data-type="inherit"]):not([data-type="primary"]) {
  border: 1px solid var(--border-color);
  color: rgb(var(--dark-color-rgb) / 0.65);
  --current-color: rgb(var(--dark-color-rgb) / 0.65);
  --current-color-rgb: rgb(var(--dark-color-rgb) / 0.65);
  background-color: rgb(var(--dark-color-rgb) / 0.04);
}
.t31.t31 {
  border-radius: 6px;
}
.t32.t32 {
  --font-size: var(--tag-font-size, var(--default-font-size, inherit));
  font-size: var(--tag-font-size, var(--default-font-size, inherit));
  --line-height: var(--tag-line-height, var(--default-line-height, inherit));
  line-height: var(--tag-line-height, var(--default-line-height, inherit));
  --letter-spacing: var(--tag-letter-spacing, var(--default-letter-spacing, inherit));
  letter-spacing: var(--tag-letter-spacing, var(--default-letter-spacing, inherit));
  --font-weight: var(--tag-font-weight, var(--default-font-weight, inherit));
  font-weight: var(--tag-font-weight, var(--default-font-weight, inherit));
  --font-style: var(--tag-font-style, var(--default-font-style, inherit));
  font-style: var(--tag-font-style, var(--default-font-style, inherit));
  --text-transform: var(--tag-text-transform, var(--default-text-transform, inherit));
  text-transform: var(--tag-text-transform, var(--default-text-transform, inherit));
  --font-family:
    var(--tag-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  font-family:
    var(--tag-font-family, var(--default-font-family, var(--font, NonexistentFontName))), var(--font, sans-serif);
  --bold-font-weight: var(--tag-bold-font-weight, var(--default-bold-font-weight, inherit));
  --icon-size: var(--tag-icon-size, var(--default-icon-size, inherit));
  text-align: left;
  white-space: nowrap;
}
.t33.t33 {
  height: min-content;
  min-height: initial;
  max-height: initial;
  padding: 0px calc(3px);
  width: max-content;
  min-width: 20px;
  max-width: max-content;
}
.t34.t34 {
  display: inline-flex;
  place-content: center;
  place-items: center start;
}
.t35.t35 {
  box-sizing: border-box;
}
.t30.t30 {
  display: flex;
  gap: 2px;
  flex-flow: row;
}
.t30.t30:not([data-vertical]) {
  place-items: center stretch;
}
.t26.t26 {
  opacity: 1;
}
.t27.t27 {
  padding: 0px 0px 0px 8px;
}
.t28.t28 {
  display: inline-flex;
  gap: 8px;
  flex-flow: row;
}
.t28.t28:not([data-vertical]) {
  place-items: center stretch;
}
.t29.t29 {
  place-self: center;
}
.t36.t36 {
  font-size: var(--icon-size);
  text-align: center;
  text-transform: none;
}
.t37.t37 {
  height: auto;
  min-height: 1em;
  max-height: initial;
  width: auto;
  min-width: 1em;
  max-width: 1em;
}
.t38.t38 {
  display: inline-grid;
  place-content: center;
}
.t39.t39 {
  transition:
    transform linear var(--transition),
    rotate linear var(--transition);
}
.t40.t40 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  transform-origin: center center;
  vertical-align: sub;
}
.t41.t41 svg {
  transition: all var(--all-transition, var(--transition));
  width: auto;
  min-width: 1em;
  max-width: initial;
  height: auto;
  min-height: 1em;
  max-height: 1em;
  stroke-width: var(--stroke-width);
  font-size: inherit;
}
.t15.t15 {
  display: block;
}
.t15.t15 > :not(:last-child) {
  margin-bottom: 8px;
}
.t42.t42:not([data-focused]):not([data-invalid]):not([data-valid]) {
  border: var(--border-width) solid var(--clear-color);
}
.t42.t42:not([data-disabled]):not([data-hovered]):not([data-pressed]) {
  color: var(--dark-02-color);
  --current-color: var(--dark-02-color);
  --current-color-rgb: var(--dark-02-color-rgb);
}
.t42.t42:not([data-disabled]):not([data-hovered]):not([data-pressed]):not([data-selected]) {
  background-color: rgb(var(--dark-color-rgb) / 0);
}
.t42.t42 {
  outline: 0 solid var(--outline-color);
  outline-offset: 1px;
  border-radius: calc(5px);
}
.t43.t43 {
  text-decoration: none;
  white-space: nowrap;
}
.t44.t44 {
  flex-shrink: 0;
  height: var(--action-size);
  min-height: initial;
  max-height: initial;
}
.t44.t44[data-context] {
  margin: 0px;
}
.t44.t44[data-has-icon]:not([data-has-label]) {
  padding: 0px;
}
.t44.t44:not([data-has-label]) {
  width: var(--action-size);
  min-width: initial;
  max-width: initial;
}
.t45.t45 {
  display: inline-grid;
  gap: 0px;
  grid-auto-flow: column;
  place-content: center;
  place-items: center;
}
.t46.t46 {
  place-self: center;
  position: relative;
  transition:
    color var(--theme-transition, var(--transition)),
    background-color var(--theme-transition, var(--transition)),
    box-shadow var(--theme-transition, var(--transition)),
    border var(--theme-transition, var(--transition)),
    border-radius var(--theme-transition, var(--transition)),
    outline var(--theme-transition, var(--transition)),
    opacity var(--theme-transition, var(--transition));
}
.t47.t47 {
  --action-size: min(max(calc(16px + 2px), calc(var(--size, var(--size-md)) - 8px - 2px)), calc(32px - 2px));
  --inline-compensation: 4px;
  --local-icon-size: var(--icon-size);
  --min-inline-padding: calc(4px - 1px);
  --side-padding: calc(calc(var(--size) - var(--action-size) - 2px) / 2);
  box-sizing: border-box;
  appearance: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.t47.t47:not([data-size="inline"]) {
  --inline-padding: max(
    var(--min-inline-padding),
    calc(calc(var(--action-size) - var(--line-height) - 2px) / 2 + var(--inline-compensation))
  );
}
.t47.t47:not([data-disabled]) {
  cursor: var(--pointer);
}
.t48.t48 > [data-element="Icon"] {
  display: grid;
  place-items: center;
  height: auto;
  min-height: calc(var(--action-size) - 2px);
  max-height: calc(var(--action-size) - 2px);
  width: auto;
  min-width: calc(var(--action-size) - 2px);
  max-width: calc(var(--action-size) - 2px);
  --icon-size: min(var(--local-icon-size), calc(var(--action-size) - 2px));
}
.t48.t48:not([data-checkbox]) > [data-element="Icon"] {
  opacity: 1;
}
.t8.t8 {
  display: block;
}
.t8.t8 > :not(:last-child) {
  margin-bottom: 16px;
}
/*! CSS Used from: Embedded */
kbd {
  font-family: var(--c2-font-family);
  font-weight: var(--c2-font-weight);
  font-size: var(--c2-font-size);
  border: var(--border-width) solid var(--dark-04-color);
  background-color: white;
  color: var(--dark-color);
  border-radius: var(--radius);
  padding: 0 var(--outline-width);
}
:not([data-qa$="Icon"]) > .tabler-icon {
  font-size: var(--icon-size);
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  max-height: 1em;
  stroke-width: var(--stroke-width);
}
button,
html [type="button"] {
  -webkit-appearance: none;
}
