/* Public custom functions */

@function px2vw($px, $screen-width: 750) {
  @return ($px / $screen-width) * 100vw;
}

@function px2rem($px, $remRate: 100) {
  @return ($px / $remRate) + rem;
}

@function px2vmin($px, $screen-width: 750) {
  @return ($px / $screen-width) * 100vmin;
}

@mixin fillBox {
  width: 100%;
  height: 100%;
}

/* Thin line at the head */
@mixin borderTop {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  transform: scaleY(0.5);
}

/* Thin line at the bottom */
@mixin borderBtm {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  transform: scaleY(0.5);
}

/* Uniform inner margins */
@mixin unifiedPadding($value: 40) {
  padding: 0 px2rem($value) 0 px2rem($value);
}

/* Uniform left inner margin */
@mixin unifiedLeftPadding($value: 40) {
  padding-left: px2rem($value);
}

/* Uniform right inner margin */
@mixin unifiedRightPadding($value: 40) {
  padding-right: px2rem($value);
}

/* Uniform bottom border style */
@mixin unifiedBottomBorder {
  border-bottom: 1px solid #ddd;
}

/* Uniform top border style */
@mixin unifiedTopBorder {
  border-top: 1px solid #ddd;
}

/* Uniform item height */
@mixin unifiedItemHeight {
  line-height: px2rem(120);
  height: px2rem(120);
}

/* Set line height style */
@mixin setItemHeight($value: 120) {
  line-height: px2rem($value);
  height: px2rem($value);
}

/* Uniform Item Style */
@mixin unifiedItemStyle {
  font-family: PingFangSC-Regular;
  font-size: px2rem(28);
  color: #828282;
  letter-spacing: 0;
}

/* Consistent flexbox style */
@mixin unifiedFlexBoxStyle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* Uniform Title Style */
@mixin unifiedTitleStyle {
  font-family: PingFangSC-Regular;
  font-size: px2rem(40);
  color: #1e1e1e;
}

/* Uniform content style */
@mixin unifiedContentStyle {
  font-family: PingFangSC-Regular;
  font-size: px2rem(28);
  color: #1e1e1e;
  letter-spacing: 0;
  text-align: right;
  line-height: px2rem(28);
}

/* Bottom navigation box style */
@mixin fixedBottomBox {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

// Commonly used variables
$background-color: #fafafa;
$border-color: #f7f7f7;
$page-padding-top: px2rem(20);
