.panel {
    background-color: var(--bg-panel);
}

.panel-body {
    border: 0 solid var(--border-color);
    height: 100%;
}

.panel-body--right {
    border-left-width: 1px;
}

.panel-body--left {
    border-right-width: 1px;
}

.panel-body--bottom {
    border-top-width: 1px;
}

.panel-body--top {
    border-bottom-width: 1px;
}